name: Patch and Publish to GitHub Packages

on:
  push:
    branches:
      - main

jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      packages: write
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Configure Git
        run: |
          git config user.name github-actions
          git config user.email github-actions@github.com
      - name: Force git pull and overwrite local files
        run: |
          # DANGER! This wipes any local changes and untracked files
          git fetch --all
          git reset --hard origin/${{ github.ref_name }}
          git pull
      - uses: actions/setup-node@v4
        with:
          node-version: "22.x"
          registry-url: "https://registry.npmjs.org"

      - name: Install dependencies
        run: npm ci

      - name: Patch version
        run: |
          npm version patch
          git push
          git push --tags

      - name: Publish to NPM Packages
        run: npm publish
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_DEPLOY_TOKEN }}
